@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px; }

body {
  height: 100%;
  width: 100%; }

p {
  margin-bottom: 0px; }

.row {
  margin-right: 0px;
  margin-left: 0px; }

.col-lg-12 {
  padding-left: 0px;
  padding-right: 0px; }

.col-md-12 {
  padding-left: 0px;
  padding-right: 0px; }

.col-xs-12 {
  padding-left: 0px;
  padding-right: 0px; }

.container-fluid {
  padding-right: 0px;
  padding-left: 0px; }

/* Barra de navegación */
.navbar-collapse {
  margin-top: 10px; }

#navbarNav {
  justify-content: center;
  font-size: 27px;
  list-style-type: none;
  font-style: normal;
  font-family: 'Overpass', sans-serif;
  font-weight: 200; }
  @media only screen and (min-width: 0px) and (max-width: 425px) {
    #navbarNav {
      font-size: 19px; } }
  @media only screen and (min-width: 426px) and (max-width: 1024px) {
    #navbarNav {
      font-size: 23px; } }
  #navbarNav .navbar-nav .nav-item .nav-link {
    text-decoration: none;
    text-transform: uppercase;
    color: #1D4133;
    transition: 0.3s; }
    #navbarNav .navbar-nav .nav-item .nav-link:hover {
      text-decoration: underline;
      color: #C2A182; }

/* Encabezado */
.encabezado1 {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6)), url(../assets/img/encabezado1.jpg);
  max-width: 100%;
  background-size: cover;
  height: 43vw; }
  @media only screen and (min-width: 0px) and (max-width: 424px) {
    .encabezado1 {
      height: 92vw; } }
  @media only screen and (min-width: 425px) and (max-width: 1024px) {
    .encabezado1 {
      height: 76vw; } }
  .encabezado1 .encabezado__imagen--flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: auto;
    position: relative;
    top: 27%; }
    @media only screen and (min-width: 0px) and (max-width: 767px) {
      .encabezado1 .encabezado__imagen--flex {
        top: 30%; } }
    @media only screen and (min-width: 0px) and (max-width: 767px) {
      .encabezado1 .encabezado__imagen--flex .encabezado__logo img {
        width: 55%;
        margin-left: 50px;
        padding-left: 32px; } }
    .encabezado1 .encabezado__imagen--flex .encabezado__titulo--estilo {
      color: white;
      opacity: 80%;
      font-size: 80px;
      text-align: center;
      font-family: 'Overpass', sans-serif;
      font-weight: 600; }
      @media only screen and (min-width: 0px) and (max-width: 425px) {
        .encabezado1 .encabezado__imagen--flex .encabezado__titulo--estilo {
          font-size: 35px; } }
      @media only screen and (min-width: 426px) and (max-width: 767px) {
        .encabezado1 .encabezado__imagen--flex .encabezado__titulo--estilo {
          font-size: 50px; } }
      @media only screen and (min-width: 768px) and (max-width: 1024px) {
        .encabezado1 .encabezado__imagen--flex .encabezado__titulo--estilo {
          font-size: 65px; } }
    .encabezado1 .encabezado__imagen--flex .boton {
      font-size: calc(10px + 1vw);
      color: #1D4133;
      text-decoration: none;
      background-color: white;
      border: none;
      border-radius: 100px;
      padding: 5px 25px;
      margin-top: 10px;
      min-width: 210px;
      display: inline-flex;
      justify-content: space-between;
      align-items: center;
      transition: 0.3s; }
      @media only screen and (min-width: 0px) and (max-width: 767px) {
        .encabezado1 .encabezado__imagen--flex .boton {
          padding: 8px 14px;
          margin-top: 3px;
          min-width: 120px; } }
      @media only screen and (min-width: 768px) and (max-width: 1024px) {
        .encabezado1 .encabezado__imagen--flex .boton {
          padding: 8px 20px;
          margin-top: 15px;
          margin-bottom: 15px;
          min-width: 170px; } }
      .encabezado1 .encabezado__imagen--flex .boton:hover {
        color: white;
        background-color: #1D4133; }

.encabezado2 {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6)), url(../assets/img/encabezado2.jpg);
  max-width: 100%;
  background-size: cover;
  height: 43vw; }
  @media only screen and (min-width: 0px) and (max-width: 424px) {
    .encabezado2 {
      height: 92vw; } }
  @media only screen and (min-width: 425px) and (max-width: 1024px) {
    .encabezado2 {
      height: 76vw; } }
  .encabezado2 .encabezado__imagen--flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: auto;
    position: relative;
    top: 27%; }
    @media only screen and (min-width: 0px) and (max-width: 767px) {
      .encabezado2 .encabezado__imagen--flex {
        top: 30%; } }
    @media only screen and (min-width: 0px) and (max-width: 767px) {
      .encabezado2 .encabezado__imagen--flex .encabezado__logo img {
        width: 55%;
        margin-left: 50px;
        padding-left: 32px; } }
    .encabezado2 .encabezado__imagen--flex .encabezado__titulo--estilo {
      color: white;
      opacity: 80%;
      font-size: 80px;
      text-align: center;
      font-family: 'Overpass', sans-serif;
      font-weight: 600; }
      @media only screen and (min-width: 0px) and (max-width: 425px) {
        .encabezado2 .encabezado__imagen--flex .encabezado__titulo--estilo {
          font-size: 35px; } }
      @media only screen and (min-width: 426px) and (max-width: 767px) {
        .encabezado2 .encabezado__imagen--flex .encabezado__titulo--estilo {
          font-size: 50px; } }
      @media only screen and (min-width: 768px) and (max-width: 1024px) {
        .encabezado2 .encabezado__imagen--flex .encabezado__titulo--estilo {
          font-size: 65px; } }
    .encabezado2 .encabezado__imagen--flex .boton {
      font-size: calc(10px + 1vw);
      color: #1D4133;
      text-decoration: none;
      background-color: white;
      border: none;
      border-radius: 100px;
      padding: 5px 25px;
      margin-top: 10px;
      min-width: 210px;
      display: inline-flex;
      justify-content: space-between;
      align-items: center;
      transition: 0.3s; }
      @media only screen and (min-width: 0px) and (max-width: 767px) {
        .encabezado2 .encabezado__imagen--flex .boton {
          padding: 8px 14px;
          margin-top: 3px;
          min-width: 120px; } }
      @media only screen and (min-width: 768px) and (max-width: 1024px) {
        .encabezado2 .encabezado__imagen--flex .boton {
          padding: 8px 20px;
          margin-top: 15px;
          margin-bottom: 15px;
          min-width: 170px; } }
      .encabezado2 .encabezado__imagen--flex .boton:hover {
        color: white;
        background-color: #1D4133; }

.encabezado3 {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6)), url(../assets/img/encabezado3.jpg);
  max-width: 100%;
  background-size: cover;
  height: 43vw; }
  @media only screen and (min-width: 0px) and (max-width: 424px) {
    .encabezado3 {
      height: 92vw; } }
  @media only screen and (min-width: 425px) and (max-width: 1024px) {
    .encabezado3 {
      height: 76vw; } }
  .encabezado3 .encabezado__imagen--flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: auto;
    position: relative;
    top: 27%; }
    @media only screen and (min-width: 0px) and (max-width: 767px) {
      .encabezado3 .encabezado__imagen--flex {
        top: 30%; } }
    @media only screen and (min-width: 0px) and (max-width: 767px) {
      .encabezado3 .encabezado__imagen--flex .encabezado__logo img {
        width: 55%;
        margin-left: 50px;
        padding-left: 32px; } }
    .encabezado3 .encabezado__imagen--flex .encabezado__titulo--estilo {
      color: white;
      opacity: 80%;
      font-size: 80px;
      text-align: center;
      font-family: 'Overpass', sans-serif;
      font-weight: 600; }
      @media only screen and (min-width: 0px) and (max-width: 425px) {
        .encabezado3 .encabezado__imagen--flex .encabezado__titulo--estilo {
          font-size: 35px; } }
      @media only screen and (min-width: 426px) and (max-width: 767px) {
        .encabezado3 .encabezado__imagen--flex .encabezado__titulo--estilo {
          font-size: 50px; } }
      @media only screen and (min-width: 768px) and (max-width: 1024px) {
        .encabezado3 .encabezado__imagen--flex .encabezado__titulo--estilo {
          font-size: 65px; } }
    .encabezado3 .encabezado__imagen--flex .boton {
      font-size: calc(10px + 1vw);
      color: #1D4133;
      text-decoration: none;
      background-color: white;
      border: none;
      border-radius: 100px;
      padding: 5px 25px;
      margin-top: 10px;
      min-width: 210px;
      display: inline-flex;
      justify-content: space-between;
      align-items: center;
      transition: 0.3s; }
      @media only screen and (min-width: 0px) and (max-width: 767px) {
        .encabezado3 .encabezado__imagen--flex .boton {
          padding: 8px 14px;
          margin-top: 3px;
          min-width: 120px; } }
      @media only screen and (min-width: 768px) and (max-width: 1024px) {
        .encabezado3 .encabezado__imagen--flex .boton {
          padding: 8px 20px;
          margin-top: 15px;
          margin-bottom: 15px;
          min-width: 170px; } }
      .encabezado3 .encabezado__imagen--flex .boton:hover {
        color: white;
        background-color: #1D4133; }

.encabezado4 {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6)), url(../assets/img/encabezado4.jpg);
  max-width: 100%;
  background-size: cover;
  height: 43vw; }
  @media only screen and (min-width: 0px) and (max-width: 424px) {
    .encabezado4 {
      height: 92vw; } }
  @media only screen and (min-width: 425px) and (max-width: 1024px) {
    .encabezado4 {
      height: 76vw; } }
  .encabezado4 .encabezado__imagen--flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: auto;
    position: relative;
    top: 27%; }
    @media only screen and (min-width: 0px) and (max-width: 767px) {
      .encabezado4 .encabezado__imagen--flex {
        top: 30%; } }
    @media only screen and (min-width: 0px) and (max-width: 767px) {
      .encabezado4 .encabezado__imagen--flex .encabezado__logo img {
        width: 55%;
        margin-left: 50px;
        padding-left: 32px; } }
    .encabezado4 .encabezado__imagen--flex .encabezado__titulo--estilo {
      color: white;
      opacity: 80%;
      font-size: 80px;
      text-align: center;
      font-family: 'Overpass', sans-serif;
      font-weight: 600; }
      @media only screen and (min-width: 0px) and (max-width: 425px) {
        .encabezado4 .encabezado__imagen--flex .encabezado__titulo--estilo {
          font-size: 35px; } }
      @media only screen and (min-width: 426px) and (max-width: 767px) {
        .encabezado4 .encabezado__imagen--flex .encabezado__titulo--estilo {
          font-size: 50px; } }
      @media only screen and (min-width: 768px) and (max-width: 1024px) {
        .encabezado4 .encabezado__imagen--flex .encabezado__titulo--estilo {
          font-size: 65px; } }
    .encabezado4 .encabezado__imagen--flex .boton {
      font-size: calc(10px + 1vw);
      color: #1D4133;
      text-decoration: none;
      background-color: white;
      border: none;
      border-radius: 100px;
      padding: 5px 25px;
      margin-top: 10px;
      min-width: 210px;
      display: inline-flex;
      justify-content: space-between;
      align-items: center;
      transition: 0.3s; }
      @media only screen and (min-width: 0px) and (max-width: 767px) {
        .encabezado4 .encabezado__imagen--flex .boton {
          padding: 8px 14px;
          margin-top: 3px;
          min-width: 120px; } }
      @media only screen and (min-width: 768px) and (max-width: 1024px) {
        .encabezado4 .encabezado__imagen--flex .boton {
          padding: 8px 20px;
          margin-top: 15px;
          margin-bottom: 15px;
          min-width: 170px; } }
      .encabezado4 .encabezado__imagen--flex .boton:hover {
        color: white;
        background-color: #1D4133; }

.encabezado5 {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6)), url(../assets/img/encabezado5.jpg);
  max-width: 100%;
  background-size: cover;
  height: 43vw; }
  @media only screen and (min-width: 0px) and (max-width: 424px) {
    .encabezado5 {
      height: 92vw; } }
  @media only screen and (min-width: 425px) and (max-width: 1024px) {
    .encabezado5 {
      height: 76vw; } }
  .encabezado5 .encabezado__imagen--flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: auto;
    position: relative;
    top: 27%; }
    @media only screen and (min-width: 0px) and (max-width: 767px) {
      .encabezado5 .encabezado__imagen--flex {
        top: 30%; } }
    @media only screen and (min-width: 0px) and (max-width: 767px) {
      .encabezado5 .encabezado__imagen--flex .encabezado__logo img {
        width: 55%;
        margin-left: 50px;
        padding-left: 32px; } }
    .encabezado5 .encabezado__imagen--flex .encabezado__titulo--estilo {
      color: white;
      opacity: 80%;
      font-size: 80px;
      text-align: center;
      font-family: 'Overpass', sans-serif;
      font-weight: 600; }
      @media only screen and (min-width: 0px) and (max-width: 425px) {
        .encabezado5 .encabezado__imagen--flex .encabezado__titulo--estilo {
          font-size: 35px; } }
      @media only screen and (min-width: 426px) and (max-width: 767px) {
        .encabezado5 .encabezado__imagen--flex .encabezado__titulo--estilo {
          font-size: 50px; } }
      @media only screen and (min-width: 768px) and (max-width: 1024px) {
        .encabezado5 .encabezado__imagen--flex .encabezado__titulo--estilo {
          font-size: 65px; } }
    .encabezado5 .encabezado__imagen--flex .boton {
      font-size: calc(10px + 1vw);
      color: #1D4133;
      text-decoration: none;
      background-color: white;
      border: none;
      border-radius: 100px;
      padding: 5px 25px;
      margin-top: 10px;
      min-width: 210px;
      display: inline-flex;
      justify-content: space-between;
      align-items: center;
      transition: 0.3s; }
      @media only screen and (min-width: 0px) and (max-width: 767px) {
        .encabezado5 .encabezado__imagen--flex .boton {
          padding: 8px 14px;
          margin-top: 3px;
          min-width: 120px; } }
      @media only screen and (min-width: 768px) and (max-width: 1024px) {
        .encabezado5 .encabezado__imagen--flex .boton {
          padding: 8px 20px;
          margin-top: 15px;
          margin-bottom: 15px;
          min-width: 170px; } }
      .encabezado5 .encabezado__imagen--flex .boton:hover {
        color: white;
        background-color: #1D4133; }

/* Títulos y párrafos */
.introduccion {
  justify-content: center; }
  .introduccion .introduccion__titulos--fuente {
    color: #1D4133;
    font-size: 50px;
    font-family: 'Overpass', sans-serif;
    font-weight: 500;
    text-align: center;
    margin-top: 50px; }
    @media only screen and (min-width: 0px) and (max-width: 425px) {
      .introduccion .introduccion__titulos--fuente {
        font-size: 31px; } }
    @media only screen and (min-width: 426px) and (max-width: 1024px) {
      .introduccion .introduccion__titulos--fuente {
        font-size: 42px; } }
  .introduccion .introduccion__parrafo--fuente {
    color: #1D4133;
    font-size: 30px;
    text-align: justify;
    font-family: 'Overpass', sans-serif;
    font-weight: 100;
    line-height: 1.3;
    margin-top: 35px;
    margin-bottom: 25px; }
    @media only screen and (min-width: 0px) and (max-width: 425px) {
      .introduccion .introduccion__parrafo--fuente {
        font-size: 20px; } }
    @media only screen and (min-width: 426px) and (max-width: 1024px) {
      .introduccion .introduccion__parrafo--fuente {
        font-size: 25px; } }
  .introduccion .introduccion__parrafo--estilo {
    color: #1D4133;
    font-size: 30px;
    text-align: justify;
    font-family: 'Overpass', sans-serif;
    font-weight: 100;
    line-height: 1.3;
    margin-top: 15px; }
    @media only screen and (min-width: 0px) and (max-width: 425px) {
      .introduccion .introduccion__parrafo--estilo {
        font-size: 19px; } }
    @media only screen and (min-width: 426px) and (max-width: 1024px) {
      .introduccion .introduccion__parrafo--estilo {
        font-size: 25px; } }

/* Footer */
footer {
  background-color: #1D4133;
  height: 300px;
  width: 100%; }
  @media only screen and (min-width: 0px) and (max-width: 767px) {
    footer {
      max-height: 325px;
      width: 100%; } }
  @media only screen and (min-width: 767px) and (max-width: 1024px) {
    footer {
      max-height: 300px; } }
  footer .footer__estilo {
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
    @media only screen and (min-width: 426px) and (max-width: 768px) {
      footer .footer__estilo {
        margin-right: 25px; } }
    footer .footer__estilo .footer__logo {
      margin-top: 50px;
      padding-top: 20px; }
      @media only screen and (min-width: 0px) and (max-width: 768px) {
        footer .footer__estilo .footer__logo {
          display: none; } }
    footer .footer__estilo .footer__nav {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      margin-top: 35px; }
      footer .footer__estilo .footer__nav .footer__lista {
        text-decoration: none;
        list-style-type: none; }
        @media only screen and (min-width: 0px) and (max-width: 767px) {
          footer .footer__estilo .footer__nav .footer__lista {
            margin-top: 50px;
            padding-top: 3px; } }
        footer .footer__estilo .footer__nav .footer__lista .footer__lista--estilo {
          font-size: 25px;
          color: white;
          font-family: 'Overpass', sans-serif;
          font-weight: 400;
          width: 100%;
          transition: 0.1s; }
          @media only screen and (min-width: 0px) and (max-width: 767px) {
            footer .footer__estilo .footer__nav .footer__lista .footer__lista--estilo {
              font-size: 20px; } }
          footer .footer__estilo .footer__nav .footer__lista .footer__lista--estilo:hover {
            color: #C3C4BF;
            text-decoration: underline; }
    footer .footer__estilo .footer__informacion--estilo {
      margin-top: 50px; }
      footer .footer__estilo .footer__informacion--estilo .footer__titulo--estilo {
        font-size: 22px;
        color: white;
        font-family: 'Overpass', sans-serif;
        font-weight: 600; }
      footer .footer__estilo .footer__informacion--estilo .footer__parrafo--estilo {
        font-size: 20px;
        color: white;
        font-family: 'Overpass', sans-serif;
        font-weight: 300;
        width: 100%; }
      @media only screen and (min-width: 0px) and (max-width: 767px) {
        footer .footer__estilo .footer__informacion--estilo .footer__informacion--estilo {
          display: none; }
        footer .footer__estilo .footer__informacion--estilo .footer__titulo--estilo {
          display: none; }
        footer .footer__estilo .footer__informacion--estilo .footer__parrafo--estilo {
          display: none; } }
    footer .footer__estilo .footer__informacion {
      margin-top: 50px; }
      @media only screen and (min-width: 0px) and (max-width: 767px) {
        footer .footer__estilo .footer__informacion {
          margin-right: 15px;
          margin-left: 5px;
          margin-top: 50px;
          padding-top: 37px; } }
      footer .footer__estilo .footer__informacion .footer__parrafo {
        font-size: 20px;
        color: white;
        font-family: 'Overpass', sans-serif;
        font-weight: 300;
        width: 100%; }
        @media only screen and (min-width: 0px) and (max-width: 767px) {
          footer .footer__estilo .footer__informacion .footer__parrafo {
            font-size: 15px; } }
      footer .footer__estilo .footer__informacion .footer__titulo {
        font-size: 22px;
        color: white;
        font-family: 'Overpass', sans-serif;
        font-weight: 600; }
        @media only screen and (min-width: 0px) and (max-width: 767px) {
          footer .footer__estilo .footer__informacion .footer__titulo {
            font-size: 18px; } }
      footer .footer__estilo .footer__informacion .redes__icon {
        font-size: 45px;
        margin-right: 10px;
        margin-bottom: 25px; }
        @media only screen and (min-width: 0px) and (max-width: 767px) {
          footer .footer__estilo .footer__informacion .redes__icon {
            font-size: 34px; } }
        footer .footer__estilo .footer__informacion .redes__icon .fab {
          color: white;
          transition: 0.1s;
          transform: scale(1); }
          footer .footer__estilo .footer__informacion .redes__icon .fab:hover {
            color: #C3C4BF;
            transform: scale(1.1);
            cursor: pointer; }

.footer__firma {
  display: flex;
  justify-content: center;
  background-color: #1D4133;
  font-size: 18px;
  font-family: 'Overpass', sans-serif;
  font-weight: 100;
  color: white; }
  @media only screen and (min-width: 0px) and (max-width: 520px) {
    .footer__firma {
      font-size: 13px; } }
  .footer__firma .fa-copyright {
    margin-top: 2px; }

/* Inicio carrusel */
.carrusel {
  margin-top: 50px;
  margin-bottom: 50px; }
  .carrusel .gradiente:after {
    content: "";
    display: block;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6)); }
  .carrusel h5 {
    font-size: 40px;
    font-family: 'Overpass', sans-serif;
    font-weight: 600; }
    @media only screen and (min-width: 426px) and (max-width: 1024px) {
      .carrusel h5 {
        font-size: 25px; } }
  .carrusel p {
    font-size: 25px;
    font-family: 'Overpass', sans-serif;
    font-weight: 500; }
    @media only screen and (min-width: 426px) and (max-width: 1024px) {
      .carrusel p {
        font-size: 18px; } }

/* Cierre carrusel */
/* Contenido */
.imagen__caja--grid {
  display: grid;
  justify-items: center;
  grid-row-gap: 0px;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: auto;
  margin-bottom: 50px;
  margin-top: 50px; }
  @media only screen and (min-width: 0px) and (max-width: 425px) {
    .imagen__caja--grid {
      grid-template-columns: 50% 50%;
      margin-bottom: 25px;
      margin-top: 0px; } }
  @media only screen and (min-width: 0px) and (max-width: 1024px) {
    .imagen__caja--grid .imagen__responsive {
      width: 100%;
      height: 70%; } }
  .imagen__caja--grid .parrafo__texto--estilo {
    width: 100%;
    color: #1D4133;
    font-size: 33px;
    font-family: 'Overpass', sans-serif;
    font-weight: 600;
    text-align: center; }
    @media only screen and (min-width: 0px) and (max-width: 425px) {
      .imagen__caja--grid .parrafo__texto--estilo {
        font-size: 22px; } }
    @media only screen and (min-width: 426px) and (max-width: 1024px) {
      .imagen__caja--grid .parrafo__texto--estilo {
        font-size: 25px; } }

/* Tienda */
/* Contenido de la tienda */
.tienda {
  margin-top: 50px;
  margin-bottom: 50px; }
  .tienda .card-deck {
    margin-top: 25px; }
    .tienda .card-deck .tarjeta__transformacion:hover {
      border: 1px solid #1D4133; }
    .tienda .card-deck .tarjeta__titulo {
      font-family: 'Overpass', sans-serif;
      font-weight: 500;
      font-size: 25px;
      color: #1D4133; }
      @media only screen and (min-width: 0px) and (max-width: 1024px) {
        .tienda .card-deck .tarjeta__titulo {
          font-size: 23px; } }
    .tienda .card-deck .precio {
      font-family: 'Overpass', sans-serif;
      font-weight: 300;
      font-size: 20px;
      color: #1D4133; }
    .tienda .card-deck .tarjeta__texto {
      margin-top: 25px;
      font-family: 'Overpass', sans-serif;
      font-weight: 300;
      font-size: 17px;
      color: #1D4133; }
      @media only screen and (min-width: 0px) and (max-width: 1024px) {
        .tienda .card-deck .tarjeta__texto {
          font-size: 16px; } }
    .tienda .card-deck .boton__tienda--estilo {
      display: flex;
      flex-direction: column;
      margin-top: 50px;
      font-size: 17px; }
    .tienda .card-deck .btn-dark {
      font-size: 17px;
      background-color: #1D4133;
      border: none;
      text-transform: uppercase; }
      .tienda .card-deck .btn-dark:hover {
        background-color: #C2A182;
        color: #1D4133; }

/* Información */
.card__contenido {
  margin-top: 50px;
  margin-bottom: 50px; }
  @media only screen and (min-width: 0px) and (max-width: 1280px) {
    .card__contenido {
      display: none; } }
  .card__contenido .card__titulo {
    color: #1D4133;
    font-family: 'Overpass', sans-serif;
    font-weight: 500;
    font-size: 27px;
    text-decoration: underline;
    text-decoration-color: #1D4133; }
  .card__contenido .card__texto {
    color: #1D4133;
    font-family: 'Overpass', sans-serif;
    font-weight: 300;
    font-size: 19px; }
  .card__contenido .card__subtitulo {
    color: #1D4133;
    font-family: 'Overpass', sans-serif;
    font-weight: 400;
    font-size: 19px;
    margin-top: 18px; }

@media only screen and (min-width: 1281px) {
  .card__responsive {
    display: none; } }

@media only screen and (min-width: 0px) and (max-width: 1280px) {
  .card__responsive {
    margin-top: 50px;
    margin-bottom: 50px; }
    .card__responsive .card__titulo--responsive {
      color: #1D4133;
      font-family: 'Overpass', sans-serif;
      font-weight: 500;
      font-size: 22px;
      text-decoration: underline;
      text-decoration-color: #1D4133; } }
    @media only screen and (min-width: 0px) and (max-width: 1280px) and (min-width: 768px) and (max-width: 1280px) {
      .card__responsive .card__titulo--responsive {
        font-size: 27px; } }

@media only screen and (min-width: 0px) and (max-width: 1280px) {
    .card__responsive .card__texto--responsive {
      color: #1D4133;
      font-family: 'Overpass', sans-serif;
      font-weight: 300;
      font-size: 16px; } }
    @media only screen and (min-width: 0px) and (max-width: 1280px) and (min-width: 768px) and (max-width: 1280px) {
      .card__responsive .card__texto--responsive {
        font-size: 19px; } }

@media only screen and (min-width: 0px) and (max-width: 1280px) {
    .card__responsive .card__subtitulo--responsive {
      color: #1D4133;
      font-family: 'Overpass', sans-serif;
      font-weight: 400;
      font-size: 16px;
      margin-top: 18px; } }
    @media only screen and (min-width: 0px) and (max-width: 1280px) and (min-width: 768px) and (max-width: 1280px) {
      .card__responsive .card__subtitulo--responsive {
        font-size: 19px; } }

/* Preguntas frecuentes */
.boton__contacto--estilo {
  text-align: center; }
  .boton__contacto--estilo .boton__contacto {
    font-size: 22px;
    text-decoration: none;
    color: white;
    background-color: #1D4133;
    border: none;
    border-radius: 100px;
    padding: 5px 25px;
    min-width: 200px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s; }
    @media only screen and (min-width: 0px) and (max-width: 425px) {
      .boton__contacto--estilo .boton__contacto {
        font-size: 14px;
        padding: 8px 16px;
        margin-top: 10px;
        margin-bottom: 15px;
        min-width: 120px; } }
    @media only screen and (min-width: 426px) and (max-width: 1024px) {
      .boton__contacto--estilo .boton__contacto {
        font-size: 20px;
        padding: 7px 20px;
        margin-top: 15px;
        margin-bottom: 15px;
        min-width: 175px; } }
    .boton__contacto--estilo .boton__contacto:hover {
      color: #1D4133;
      background-color: #C2A182; }

.faqs__fondo {
  background-image: url(../assets/img/fondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  border-radius: 100px;
  padding: 25px;
  margin-top: 50px; }
  @media only screen and (min-width: 0px) and (max-width: 425px) {
    .faqs__fondo {
      border-radius: 50px;
      padding: 2px 0px; } }
  .faqs__fondo .faqs__caja {
    margin: 50px; }
    .faqs__fondo .faqs__caja .faqs__titulo {
      color: #1D4133;
      font-family: 'Overpass', sans-serif;
      font-weight: 600;
      font-size: 28px;
      text-align: left;
      text-decoration: underline;
      text-decoration-color: #1D4133; }
      @media only screen and (min-width: 0px) and (max-width: 425px) {
        .faqs__fondo .faqs__caja .faqs__titulo {
          font-size: 22px; } }
    .faqs__fondo .faqs__caja .faqs__preguntas {
      color: #1D4133;
      font-family: 'Overpass', sans-serif;
      font-weight: 500;
      font-size: 25px;
      text-align: left;
      margin-top: 25px; }
      @media only screen and (min-width: 0px) and (max-width: 425px) {
        .faqs__fondo .faqs__caja .faqs__preguntas {
          font-size: 18px; } }
    .faqs__fondo .faqs__caja .faqs__parrafo {
      color: #1D4133;
      font-family: 'Overpass', sans-serif;
      font-weight: 300;
      font-size: 22px;
      text-align: justify; }
      @media only screen and (min-width: 0px) and (max-width: 425px) {
        .faqs__fondo .faqs__caja .faqs__parrafo {
          font-size: 17px; } }

/* Contacto */
.form {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)), url(../assets/img/fondo2.jpg);
  background-size: cover;
  border-radius: 20px;
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 25px;
  margin-bottom: 50px;
  margin-top: 25px; }
  .form .form__label {
    font-family: 'Overpass', sans-serif;
    font-weight: 500;
    font-size: 25px;
    color: white;
    opacity: 90%;
    margin-top: 13px; }
    @media only screen and (min-width: 0px) and (max-width: 425px) {
      .form .form__label {
        font-size: 20px; } }
  .form .form__input {
    width: 100%;
    outline: 0px;
    border: 2px solid #C2A182;
    padding: 5px;
    margin-bottom: 13px; }
  .form .form__textarea {
    width: 100%;
    outline: 0px;
    border: 2px solid #C2A182;
    margin-bottom: 13px; }
  .form .boton__form {
    text-align: center; }
    .form .boton__form .boton__form--estilo {
      border: 1px solid #1D4133;
      font-size: 22px;
      color: white;
      background-color: #1D4133;
      border-radius: none;
      padding: 5px 25px;
      min-width: 200px;
      display: inline-flex;
      justify-content: center;
      transition: 0.3s; }
      @media only screen and (min-width: 0px) and (max-width: 425px) {
        .form .boton__form .boton__form--estilo {
          font-size: 18px;
          padding: 5px 25px;
          min-width: 115px; } }
      .form .boton__form .boton__form--estilo:hover {
        color: #1D4133;
        background-color: white;
        border: 1px solid #1D4133; }
