@import "base";

/* Tienda */

/* Contenido de la tienda */

.tienda{
    margin-top: 50px;
    margin-bottom: 50px;
    .card-deck{
        margin-top: 25px;
        .tarjeta__transformacion{
            &:hover{
                border: 1px solid #1D4133;
            }
        }
        .tarjeta__titulo{
            font-family: 'Overpass', sans-serif;
            font-weight: 500;
            font-size: 25px;
            color: #1D4133;
            @media only screen and (min-width: 0px) and (max-width:  1024px){
                font-size: 23px;
            }
        }
        .precio{
            font-family: 'Overpass', sans-serif;
            font-weight: 300;
            font-size: 20px;
            color: #1D4133;
        }
        .tarjeta__texto{
            margin-top: 25px;
            font-family: 'Overpass', sans-serif;
            font-weight: 300;
            font-size: 17px;
            color: #1D4133;
            @media only screen and (min-width: 0px) and (max-width:  1024px){
                font-size: 16px;
            }
        }
        .boton__tienda--estilo{
            display: flex;
            flex-direction: column;
            margin-top: 50px;
            font-size: 17px;
        }
        .btn-dark{
            font-size: 17px;
            background-color: #1D4133;
            border: none;
            text-transform: uppercase;
            &:hover{
                background-color:#C2A182;
                color: #1D4133;
            }
        }
    }
}











